{% extends 'base.html' %}
{% block body %}
  <div class="container mt-5">
    {% comment %}UPDATE TEACHER FORM{% endcomment %}
    <form class="col-6 max-auto card p-3 shadow-lg container" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Update Teacher</h2>
      <hr />

      {% comment %}UPDATE TEACHER NAME{% endcomment %}
      <div class="mb-3">
        <div class="d-flex justify-content-start p-1">
          <label for="inputTeacherName" class="form-label"><b>Teacher Name</b></label>
        </div>
        <input type="text" value="{{ teacher.full_name }}" class="form-control" placeholder="Teacher Name" name="teacher_name" />
      </div>

      {% comment %}UPDATE TEACHER AGE{% endcomment %}
      <div class="mb-3">
        <div class="d-flex justify-content-start p-1">
          <label for="inputTeacherAge" class="form-label"><b>Age</b></label>
        </div>
        <input type="number" value="{{ teacher.age }}" class="form-control" placeholder="Age" name="teacher_age" />
      </div>

      {% comment %}UPDATE TEACHER DOB{% endcomment %}
      <div class="mb-3">
        <div class="d-flex justify-content-start p-1">
          <label for="inputTeacherDob" class="form-label"><b>Date of Birth</b></label>
        </div>
        <input type="date" value="{{ teacher.date_of_birth|date:'Y-m-d' }}" class="form-control" name="teacher_dob" />
      </div>

      {% comment %}UPDATE TEACHER CLASSES{% endcomment %}
      <div class="mb-3">
        <div class="d-flex justify-content-start p-1">
          <label for="inputNumberOfClasses" class="form-label"><b>Number of classes</b></label>
        </div>
        <input type="number" value="{{ teacher.number_of_classes }}" class="form-control" placeholder="Number of Classes" name="teacher_number_of_classes" />
      </div>
      <button type="submit" class="btn btn-success">Update</button>
    </form>
  </div>
{% endblock %}
